
$red:#EA1C24;
$black:#292929;
$gray:#4C4C4C;
$font:#737373;
$cat-color:#f0f0f0;



@mixin miniTablet-Logo {
    @media(min-width:600px) and (max-width:700px) {@content;}
}

@mixin Tablet-Logo {
    @media(min-width:700px) and (max-width:899px) {@content;}
}

@mixin Tablet  {
    @media(min-width:600px)and (max-width:899px) {@content;}
}

@mixin Desktop1 {
    @media(min-width:900px) and (max-width:1290px) {@content};
}

@mixin Desktop2 {
    @media(min-width:1291px) {@content}
}


.finans {
    padding:2rem;
    width:100%;

    @include Desktop1() {
        width:800px;
        padding-bottom:3rem;
    }

    @include Desktop2() {
        width:900px;
        padding-bottom:3rem;
    }

    .content {
        line-height:1.6;
       color:$font;

       .kupci {
           color:$black;
            font-weight:500;
       }

       .traktori-title {
        color:$gray;
        font-weight:500;
    }

    .small {
        font-size:.9rem;
    }
    }

    h1 {
        color:$red;
        font-size:2rem;
        margin:0;
        padding:1rem;
    }

    p {
        padding:1rem;
    }

    ul {

        padding-left:2rem;
    }

    li {
        padding:0.5rem;
        color:$gray;
        cursor:default;
    }

    
}